<div class= "user">
  <img src="<%= @user.photo %>" class="profile-pic"/>
  <div class="user-info">
    <h2><%= link_to @user.name, @user %></h2>
    <p>Number of Posts:
      <%= @user.postCount %></p>
  </div>
</div>
<div class="user-bio">
  <p class="bio">
    <%= @user.bio %>
  </p>
</div>
<% @user.most_recent_posts.each do |post| %>
  <div class="posts">
    <h2><%= post.title %></h2>
    <p><%= post.text %></p>
    <p class="right">Number of comments: <%= post.commentsCount %>
      - Number of likes: <%= post.likesCount %>
    </p>
  </div>
<% end %>
<div class="button-cont">
  <%= link_to 'See all posts', user_posts_path(@user), class: "see-all" %>
</div>