<div class= "user">
  <img src="<%= @user.photo %>" alt="<%=@user.name%>" class="profile-pic"/>
  <div class="user-info">
    <h2><%= link_to @user.name, @user %></h2>
    <p>Number of Posts:
      <%= @user.postCount %></p>
  </div>
</div>
<% @posts.includes([:user]).each do |post| %>
  <div class="posts">
    <h2><%= link_to post.title, url_for([@user, post]) %></h2>
    <p><%= post.text %></p>
    <% if can? :destroy, post %>
      <%= button_to 'Delete', user_post_path(post.user, post), method: :delete, class: "delete" %>
    <% end %>
    <p>Number of comments: <%= post.commentsCount %>
      - Number of likes: <%= post.likesCount %>
      <%= button_to 'Like', user_post_likes_path(post.user, post), class: "like" %>
    </p>
    </div>
    <div class="comments">
      <p>Comments:</p>
        <ul>
          <% post.comments.includes(:user).each do |comment| %>
          <li><strong><%=comment.user.name%>: </strong><%=comment.text %></li>
          <% end %>
        </ul>
        <%= link_to 'Add a comment', new_user_post_comment_path(@user, post), class: "add-comment" %>
    </div>
  
<% end %>
